[Desktop Entry]
Name=Knapsen
Name[hu]=Knapsen
GenericName=Sixty-six card game.
GenericName[hu]=Hatvanhat kártyajáték.
Exec=knapsen
Icon=knapsen
Type=Application
Terminal=false
Categories=Qt;KDE;Game;CardGame
