[Desktop Entry]
Name=Knapsen
Exec=knapsen
Icon=knapsen
Type=Application
X-DocPath=knapsen/index.html
Terminal=false
Categories=Qt;KDE;Game;CardGame
Comment=Sixty-six card game.
